//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
    display: inline-flex;
    padding: toRem(8);
    min-height: toRem(64);
    justify-content: center;
    align-items: center;
    border-radius: toRem(60);
    background-color: $bgColorSky;
    color: $bgColorWhite;
    font-size: toRem(24);
    font-weight: 700;
    transition: all 0.3s;
    line-height: 133.333333%; /* 32/24 */
    @media (any-hover: hover) {
        &:hover {
            background-color: $bgColorSemi;
        }
    }
    &--min {
    }
    &--white {
    }
    &--icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: toRem(16);
        gap: toRem(16);
        &::after {
            content: "";
            background: $bgColorWhite url("@img/icons/phone.svg") center
                no-repeat;
            flex: 0 0 toRem(48);
            width: toRem(48);
            height: toRem(48);
            border-radius: 50%;
            transition:
                transform 0.3s ease,
                transform-origin 0.3s ease; /* Плавна анімація обертання та точки обертання */
        }
        /* Анімація обертання при наведенні */
        &:hover::after {
            transform: rotate(
                90deg
            );
            animation: shake 0.5s ease; /* Запуск анімації трясіння */
        }
        /* Ключові кадри для анімації трясіння */
        @keyframes shake {
            0% {
                transform: translateX(0);
            }
            25% {
                transform: translateX(-4px) rotate(90deg);
            }
            50% {
                transform: translateX(4px) rotate(90deg);
            }
            75% {
                transform: translateX(-4px) rotate(90deg);
            }
            100% {
                transform: translateX(0) rotate(90deg);
            }
        }
    }
    &--fw {
        width: 100%;
    }
}
