// Заголовки, загальні БЕМ блоки та інше...

.block-header {
    display: grid;
    @include adaptiveValue("gap", 24, 15);
    // .block-header__center
    &--center {
        text-align: center;
    }
    // .block-header__inline
    &--inline {
        grid-template-columns: minmax(auto, toRem(586)) minmax(auto, toRem(613));
        justify-content: space-between;
        align-items: end;
        @media (max-width: $tablet) {
            grid-template-columns: auto;
        }
    }
    // .block-header__title
    &__title {
        display: grid;
        gap: toRem(24);
        color: $darckColor;
        @include adaptiveValue("font-size", 52, 32);
        font-weight: 700;
        line-height: 1.23;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 24, 15);
        }
        // .block-header__title--big
        &--big {
            @include adaptiveValue("font-size", 64, 38);
        }
        // .block-header__title--white
        &--white {
            color: $bgColorWhite;
        }
    }
    // .block-header__text
    &__text {
        p {
            line-height: 1.55;
        }
    }
}

/*
<div class="block-header">
	<h2 class="block-header__title">Professional for your home services</h2>
	<div class="block-header__text">
		<p>You need help for home care? We are home care professionals focused in the US region. We provide several services that support home services</p>
	</div>
</div> 
*/
//==========================================================================================================================================

.done {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(40);
    row-gap: toRem(8);
    // .done__item
    &__item {
        color: $bgColorSky;
        padding-left: toRem(32);
        @include adaptiveValue("font-size", 20, 18);
        line-height: 1.3;
        background: url("@img/icons/check-blue.svg") left toRem(1) no-repeat;
    }
}

// .item-services__title
.title-h4 {
    margin-bottom: toRem(12);
    font-size: toRem(24);
    font-weight: 700;
    line-height: 133.333333%; /* 32/24 */
    &:not(:last-child) {
        margin-bottom: toRem(12);
    }
}
