//====================================================================================================
.hero {
    background-color: $bgColor;
    padding: toRem(80) toRem(15) toRem(60) toRem(15);
    min-height: 100vh;
    display: grid;
    position: relative;
    @media (min-width: $tablet) {
        grid-template-columns: auto 1fr auto;

        &::before,
        &::after {
            @include adaptiveValue(
                "width",
                470,
                260,
                0,
                $containerWidth,
                991.98
            );
            position: absolute;
            bottom: 0;
            height: toRem(45);
            background-repeat: no-repeat;
        }
        &::before {
            content: "";
            left: 0;
            background-image: url(../img/hero/Decoration-left.svg);
            background-position: right;
        }
        &::after {
            content: "";
            right: 0;
            background-image: url(../img/hero/Decoration-right.svg);
        }

        // &::before,
        // &::after {
        //     content: "";
        //     @include adaptiveValue("width", 470, 260, 0, $containerWidth, 991.98);
        //     position: absolute;
        //     bottom: 0;
        //     height: toRem(50);
        //     background-color: $bgColorWhite;
        // }

        // &::before {
        //     left: 0;
        //     clip-path: polygon(0% 0, calc(100% - 50px) 0, 100% 100%, 0% 100%); /* Визначення форми обрізання зліва*/
        // }
        // &::after {
        //     content: "";
        //     right: 0;
        //     clip-path: polygon(50px 0, 100% 0, 100% 100%, 0% 100%); /* Визначення форми обрізання справа*/
        // }
    }
    @media (max-width: $tablet) {
        padding: toRem(80) toRem(15) toRem(30) toRem(15);
    }

    // .hero__image
    &__image-ibg {
        @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
        border-radius: toRem(24);
        overflow: hidden; // приберає білі закруглення
        img {
            object-position: top;
        }
        @media (max-width: $tablet) {
            display: none;
        }
    }
    // .hero__body
    &__body {
        display: flex;
        flex-direction: column;
        row-gap: toRem(50);
        @include adaptiveValue(
            "padding-left",
            83,
            15,
            0,
            $containerWidth,
            991.98
        ); // Відступи беспеки
        @include adaptiveValue(
            "padding-right",
            83,
            15,
            0,
            $containerWidth,
            991.98
        ); // Відступи беспеки
    }
    // .hero__block-content
    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    // .hero__main
    &__main {
        display: grid;
        gap: toRem(24);
        &:not(:last-child) {
            margin-bottom: toRem(48);
        }
    }
    // .hero__block-header
    &__block-header {
        max-width: toRem(670);
        // .block-header__title
        .block-header__title {
        }
    }
    // .hero__items
    &__items {
    }
    // .hero__done
    &__done {
        justify-content: center;
        align-items: center;
    }
    // .hero__advantages
    &__advantages {
    }
}
.items-hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: toRem(52);
    // .items-hero__item
    &__item {
        color: $greyColor;
        font-weight: 700;
        line-height: 1.4;
        position: relative;
        &:not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: toRem(-30);
                top: calc(50% - toRem(2));
                width: toRem(5);
                height: toRem(5);
                border-radius: 50%;
                background-color: $greyColor;
            }
        }
    }
}
.advantages-hero {
    display: grid;
    grid-template-columns: repeat(4, auto);
    @include adaptiveValue("column-gap", 64, 20);
    row-gap: toRem(15);
    @media (max-width: em(1919)) {
        grid-template-columns: repeat(2, auto);
    }
    @media (max-width: $mobileSmall) {
        grid-template-columns: auto;
    }
    // .advantages-hero__item
    &__item {
        display: flex;
        align-items: center;
        gap: toRem(16);
        position: relative;
        @media (min-width: em(1920)) {
            &:not(:last-child) {
                &::after {
                    content: "";
                    position: absolute;
                    @include adaptiveValue("right", -32, -20);
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: toRem(1);
                    background: linear-gradient(
                        0deg,
                        rgba(20, 34, 87, 0) 0%,
                        rgba(79, 102, 183, 1) 50%,
                        rgba(20, 34, 87, 0) 100%
                    );
                }
            }
        }
    }
    // .advantages-hero__icon
    &__icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex: 0 0 toRem(48);
        width: toRem(48);
        height: toRem(48);
        padding: toRem(5);
        background-color: $bgColorSemi;
        img {
            max-width: 100%;
        }
    }
    // .advantages-hero__text
    &__text {
        flex: 1 1 auto;
        color: $bgColorWhite;
        font-weight: 600;
        line-height: 1.3; /* 24/18 */
    }
}
//====================================================================================================
.about {
    @include adaptiveValue("padding-top", 85, 30);
    @include adaptiveValue("padding-bottom", 64, 30);
    // .about__container
    &__container {
        display: grid;
        row-gap: toRem(30);
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: $tablet) {
            grid-template-columns: auto;
        }
    }
    // .about__body
    &__body {
        @include adaptiveValue(
            "padding-top",
            100,
            30,
            2,
            $containerWidth,
            991.98
        );
        @media (min-width: $tablet) {
            max-width: toRem(580);
            padding-right: toRem(20);
        }
    }
    // .about__block-header
    &__block-header {
        @include adaptiveValue("margin-bottom", 54, 16);
        .block-header__title {
            @include adaptiveValue("margin-bottom", 24, 16);
        }
    }
    // .about__items
    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptiveValue("gap", 32, 16);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 56, 16);
        }
        @media (max-width: em(540)) {
            grid-template-columns: auto;
        }
    }
    // .about__item
    &__item {
        background: url("@img/icons/check-dark.svg") 0 em(10, 20) no-repeat;
        padding-left: toRem(28);
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 700;
        color: $bgColorSemi;
        line-height: 140%; /* 28/20 */
    }
    // .about__info
    &__info {
        border-radius: toRem(24);
        background-color: $bgColorSky;
        color: $bgColorWhite;
        padding: 12px 32px;
        line-height: 155.555556%; /* 28/18 */
        text-align: center;
        a {
            white-space: nowrap; //  для нерозривного номеру телефона
            font-size: toRem(20);
            font-weight: 600;
            text-decoration: underline;
            color: $bgColorWhite;
        }
        @media (min-width: $tablet) {
            max-width: toRem(450);
        }
    }
    // .about__image
    &__image {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}
//==========================================================================================================================================
.services {
    @include adaptiveValue("margin-top", 120, 20);
    @include adaptiveValue("margin-bottom", 140, 40);
    // .services__container
    &__container {
    }
    // .services__block-header
    &__block-header {
        max-width: toRem(560);
        margin: 0 auto;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // .services__items
    &__items {
        display: grid;
        grid-template-columns: auto;
        @media (min-width: em(670)) {
            grid-template-columns: repeat(auto-fit, minmax(toRem(320), 1fr));
        }
        @media (max-width: em(669.98)) {
            row-gap: toRem(20);
        }
    }
    // .services__item
    &__item {
        // &:not(:last-child) {
        @include adaptiveValue("padding-bottom", 24, 15);
        // }
    }
}
.item-services {
    border-radius: toRem(24);
    @media (min-width: em(670)) {
        @include adaptiveValue("padding", 32, 15);
    }
    @media (max-width: em(669.98)) {
        text-align: center;
    }
    &:last-child {
        color: $bgColorWhite;
    }
    // .item-services--blue
    &--blue {
        color: $bgColorWhite;
        text-align: center;
        background-color: $bgColorSky;
        @media (max-width: em(669.98)) {
            padding: toRem(20);
        }
        .item-services__title {
            color: inherit;
        }
    }
    // .item-services__icon
    &__icon {
        width: toRem(64);
        height: toRem(64);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: toRem(20);
        background-color: $bgColor;
        img {
            max-width: 100%;
        }
        &:not(:last-child) {
            margin-bottom: toRem(16);
        }
    }
    // .item-services__title
    &__title {
        margin-bottom: toRem(12);
        font-size: toRem(24);
        font-weight: 700;
        line-height: 133.333333%; /* 32/24 */
        color: $darckColor;
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
    }
    // .item-services__text
    &__text {
        font-weight: 400;
        line-height: 155.555556%; /* 28/18 */
        &:not(:last-child) {
            margin-bottom: toRem(32);
        }
    }
    // .item-services__button
    &__button {
    }
}
//==========================================================================================================================================
